html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #d8d9db;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
}

#navbar {
    border-right: 2px solid;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 18.75rem;
}

#main-doc {
    line-height: 1.5;
    padding: 1.88rem;
    position: absolute;
    margin-left: 18.75rem;
}

#navbar ul {
    height: 88%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}

#navbar li {
    list-style: none;
    position: relative;
    padding: 0.94rem 1.25rem;
    border: 1px solid;
    width: 100%;
}

.nav-link {
    text-decoration: none;
    color: #000;
}
.nav-link:hover {
    color: blue;
    text-decoration: underline;
}

header {
    font-size: 1.5rem;
    font-weight: 700;
}

#navbar header {
    padding: 1rem;
}

#main-doc li {
    padding-bottom: 0.625rem;
}

#main-doc ul {
    padding-top: 0.625rem;
}

#main-doc article {
    padding: 10px;
    text-align: justify;
}

code {
    display: block;
    background-color: lightblue;
    padding: 0.625rem;
    margin: 0.625rem;
    line-height: 2;
    border-radius: 5px;
}

